<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
     <div class="fb">

    <div class="main">
        {{>header}}
         <div class="content">
           <h1>Help content</h1>
       </div>
    </div>
     {{>footer}}

     </div>
</body>
</html>