{{!-- <header>
    
    <div>
        <ul>
            <li><a  href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </div>
    <h1>{{title}}</h1>

</header> --}}
            <div class="site-header">
				<div class="container">
					<a href="/" class="branding">
						<img src="images/logo.png" alt="" class="logo">

						<div class="logo-type">
							<h1 class="site-title">Weather App</h1>
							<small class="site-description">Anywhere You Want...</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="/">Home</a></li>
							<li class="menu-item"><a href="/about">About</a></li>
							<li class="menu-item"><a href="/photos">Photos</a></li>
							<li class="menu-item"><a href="/help">Help</a></li>
							<li class="menu-item"><a href="/contact">Contact</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->


